* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	background-color: lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr .5fr 1fr;
	gap: 40px;
	height: 100%;
	width: 100%;
	background-color: lightgray;
	max-width: 1200px;
}
.gray {
	color: rgb(153, 153, 153);
}
.box {
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}
.box:not(:last-child),
.box i {
	box-shadow: 10px 14px 17px 8px rgb(0 0 0 / 11%);
}
.box:last-child > div:last-child {
	box-shadow: 10px 14px 17px 8px rgb(0 0 0 / 11%);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.box1 {
	grid-column: 1 / 3;
	grid-row: 1 /2;
	display: flex;
}
.profile {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}
.profile i {
	justify-content: flex-end;
}
.profile > div {
	display: flex;
	justify-content: space-between;
}
.box1 h1 {
	font-size: 1.3rem;
}
.box1 > div,
.box3 > div,
.box5 > div,
.box6 > div {
	flex-basis: 100%;
}
.box6 > div:first-child {
	flex-basis: 50%;
}
.box1 > div:first-child,
.box3 > div:first-child,
.box5 > div:first-child,
.box6 > div:first-child {
	border-radius: 20px;
	margin-right: 10px;
	background-size: cover;
	background-position: center;
}
.box1 > div:nth-child(2),
.box5 > div:nth-child(2),
.box6 > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.box3 > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}
.box2 {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.box2 > div {
	display: flex;
	align-items: center;
	gap: 10px;
}
.icon {
	height: 40px;
	width: 40px;
	border-radius: 10px;
	background-color: rgb(236, 240, 243);
}
.active {
	background-color: rgb(83, 116, 254);
}
.box3 {
	grid-row: 2 / -1;
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
}
.box4 {
	grid-column: 2 / 3;
	grid-row: 2/3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.searchbar {
	display: flex;
	justify-content: center;
}
.box4 input {
	background-color: rgb(242, 245, 248);
	height: 3rem;
	color: rgb(162, 176, 188);
	border-radius: 15px;
	width: 100%;
}
.box4 i {
	background-color: rgb(83, 116, 254);
	font-size: 2rem;
	color: rgb(246, 247, 255);
	align-items: center;
	border-radius: 15px;
	padding: .2em;
}
.searches {
	display: flex;
	justify-content: space-between;
	color: rgb(112, 134, 150);
}
.box5 {
	display: flex;
}
.box5 h3 {
	font-size: .8rem;
}
.box5 i:first-child {
	color: rgb(83, 116, 254);
	font-size: 1.25rem;
}
.box5 i:last-child {
	color: rgb(115, 136, 151);
}
.box6 {
	display: flex;
}
.box6 span {
	color: rgb(185, 196, 204);
}
.stats {
	display: flex;
	padding: .5rem;
	border-radius: .5em;
	background-color: rgb(242, 245, 248);
}
.stats div {
	flex-basis: 100%;
	text-align: center;
}
.stats p {
	color: black;
	font-size: 2rem;
}
.stats span {
	color: rgb(123, 143, 158);
}
.buttons {
	display: flex;
	justify-content: space-between;
}
.buttons button {
	padding: 1em 3em;
	border-radius: 1em;
}
.buttons :first-child {
	border: thin solid rgb(83, 116, 254);
	color: rgb(83, 116, 254);
	background-color: transparent;
}
.buttons :last-child {
	background-color: rgb(83, 116, 254);
	color: rgb(255, 255, 255);
}
.box7 {
	display: flex;
	flex-direction: column;
	padding: 0;
}
.box7 > div {
	flex-basis: 100%;
}
.box7 > div:first-child {
	background-color: rgb(211, 211, 211);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.box7 i {
	background-color: white;
	font-size: 2rem;
	padding: .5em;
	border-radius: 50%;
}
.box7 > div:last-child {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: center;
	gap: 5px;
}

.tag {
	background-color: rgb(242, 245, 248);
	padding: .5em;
	border-radius: 1em;
	color: rgb(145, 161, 174);
}
